#learndash-setup-wizard {
  @import "tailwind";
}

#wpcontent #wpadminbar {
  display: none;
}

#wpwrap #adminmenumain {
  display: none;
}

.notice {
  display: none;
}

#wpcontent {
  margin-left: 0;
  padding-left: 0;
}

html.wp-toolbar {
  padding: 0;
}

#wpbody-content {
  padding-bottom: 0;
}

#wpfooter {
  display: none;
}
